<div id="article-sidebar">

	<div id="article-photo">
		<p>photo goes here</p>
	</div>

	<p>article_sidebar</p>
	<p><strong>born:</strong> some info</p>
	<p><strong>died:</strong> some info</p>

</div>

<div id="article-container">
	<h1><%= @article.title %></h1>
	<p id="plug">From Snikipedia, the most awesome encyclopedia evaaaa</p>
	<hr>
	<p><%= @article.summary %></p>
	<p><%= raw @article.body %></p>
</div>