<!-- MODAL LINKS -->
<!-- <li><a href="#" data-toggle="modal" data-target="#uploadImageModal">Upload Image</a></li> -->

<!-- MODAL BUTTONS -->
<button type="button" class="btn btn-xs" style="color: white; background: black;" data-toggle="modal" data-target="#uploadImageModal">Add Image <%= icon('camera-retro') %></button>

<!-- Modal -->
  <div class="modal fade" id="uploadImageModal" role="dialog">
    <div class="row modal-dialog">

      <!-- Modal content-->
      <div class="col-md-6 modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: black;">Photo Upload <%= icon('camera-retro') %></h4>
        </div>

        <!-- Modal body-->
        <div class="modal-body">
          <%= render 'photos/upload_image_form', photo: Photo.new %>

        </div>

      </div>

    </div>
  </div>
