<div class="container">

  <!-- PARTIAL LINK TO PHOTOS/INDEX (VIEW ALL) -->
  <%#= button_to('Upload Photo', new_photo_path, method: :get, :class => 'btn btn-sm btn-primary')  %>

  <% if @photos %>
    <h3>Photos: <%= @photos.count %></h3>
    <%= render 'photos_partial', photos: @photos %>
  <% else %>
    <h3>No Photos Posted Yet</h3>
  <% end %>

</div>
