
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';


#article-container {
	width: 90%;
	box-sizing: border-box;
	margin: auto;
	border: 2px solid black;
	padding: 5% 10% 5% 10%;
	z-index: 0;
}

#article-sidebar {
	width: 25%;
	box-sizing: border-box;
	float:right;
	border: 2px solid black;
	z-index: 1;
	background-color: #797e87;
	color: white;
	margin: 5% 0 0 2%;
}

#article-photo {
	border: 1px solid black;
	z-index: 2;
	background-color: white;
	color: black;
	padding: 30%;
	margin: 5%;
}

#plug {
	font-size: .75em;
}

#new-article-container {
	width: 90%;
	margin: auto;
	border: 2px solid black;
	padding: 5% 10% 5% 10%;
}

.navbar-default {
	z-index: 0;
	background-color: black;
}

#left-sidebar-container {
	z-index: -1;
	background-color: #797e87;
	color: white;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 8%;
	width: 12%;
	height: 150%;
	border-right: 1px solid black;
	border-top: 1px solid black;
	font-size: 100%;
	padding-left: .5%;
}

#body-container {
	position: relative;
	float: right;
	right: 0px;
	width: 85%;
}

#mini-text {
	font-size: .65em;
}