#article-container {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid black;
  padding: 5% 10% 5% 10%;
  z-index: 0;
}

#article-sidebar {
  width: 25%;
  box-sizing: border-box;
  float:right;
  border: 2px solid black;
  z-index: 1;
  background-color: #b8bbc1;
  color: white;
  margin: 5% 0 0 2%;
}

#article-photo {
  text-align: center;
  z-index: 2;
  background-color: #797e87;
  margin: 5% 5% 5% 5%;
}

#article-sidebar-text {
  padding: 5% 0 0 5%;
}

#plug {
  font-size: .75em;
}

#new-article-container {
  width: 90%;
  margin: auto;
  border: 2px solid black;
  padding: 5% 10% 5% 10%;
}

.article-image-upload {
  padding: 0 0 0 5%;
}


// ##### ADAM ######


// element.style {
//   width: 100%;
//   margin-top: 4px;
//   border-spacing: 0px;
//   }

// .article-show {
//   margin: 0.5em;
//   background: #cef2e0;
//   font-family: inherit;
//   font-size: 120%;
//   font-weight: bold;
//   border: 1px solid #a3bfb1;
//   color: #000;
//   padding: 0.2em 0.4em;
// }

// articles row background
.MainPageBGOuter {
  width:90%;
  border:1px solid #cef2e0;
  padding:0;
  background:#f5fffa;
  vertical-align:top;
  color:#000;
}

.MainPageBGInner {
  width: 100%;
  border: 1px solid #cef2e0;
  vertical-align:top;
  padding: 2px;
  // margin: 2px;
}

.ArticleHeaderH2 {
  margin:0.5em;
  background:#cef2e0;
  font-family:inherit;
  font-size:120%;
  font-weight:bold;
  border:1px solid #a3bfb1;
  color:#000;
  padding:0.2em;
}
