a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
}

body {
  font-family: sans-serif;
  font-size: 1.3rem
}

.central-logo {
  border-radius: 50%;
}

.central-featured-category {
  margin: auto;
}

.categories-container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
}

.square {
    display: inline-block;

    position: relative;
    width: 30%;
    padding-bottom : 35%; /* = width for a 1:1 aspect ratio */
    margin:1.66% auto;
    border: 1px solid #cccccc;
    overflow:hidden;
    border-radius: 3%;
}

.categories-content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;

}
.categories-table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
