.column {
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 0 5% 0 5%;
}

#featured-article-header {
	text-align: left;
	color: gray;
}

#featured-article-summary {
	font-size: 1em;
}

#featured-picture {
	text-align: center;
	padding: 5% 0 5% 0;
}