<div class="categories-container">

  <h1><%= @category.name %></h1>
  <p><%= @category.description %></p>

<% @articles.each do |article| %>
<div class="square">
    <div class="categories-content">
        <div class="categories-table">
            <div class="table-cell">
                <div class="article-look">
                  <h2><%= article.title %></h2>
                  <p><%= article.summary %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

</div>
